# Sistema de Recomendación

El objetivo de este script es desarrollar un sistema de recomendación por filtrado colaborativo basado en usuario que tenga como input un usuario y  como salida una serie de cursos de formación profesional relacionados con la familia profesional de interés del mismo.

### Carga de módulos necesarios

In [ ]:
import pandas as pd
import math
import numpy as np

### Lectura del dataset

In [ ]:
df_original = pd.read_csv('datos_sintéticos_final.csv', index_col =0)

In [ ]:
df = df_original.copy()

Muestra del conjunto de datos

In [ ]:
df.head()

,Fecha de Inscripción,Género,Distrito,Tramos de Edad,Nacionalidad,Objetivo Profesional 1,Familia profesional,Códigos formación
0,sep-21,Mujer,Ciudad Lineal,Entre 46 y 55 años,Extracomunitaria,Técnicos superiores en documentación sanitaria,Sanidad,"['18/5724', '18/6141']"
1,feb-21,Mujer,Carabanchel,Menor de 25 años,Extracomunitaria,Asistentes de dirección y administrativos,Administración y gestión,['18/8074']
2,jul-21,Mujer,Puente De Vallecas,Entre 46 y 55 años,Española,"Peones agrícolas en huertas, invernaderos, viv...",Agraria,"['18/5456', '18/4737']"
3,may-21,Mujer,Ciudad Lineal,Entre 36 y 45 años,Extracomunitaria,Vendedores en tiendas y almacenes,Comercio y marketing,['18/1830']
4,may-21,Hombre,Ciudad Lineal,Entre 26 y 35 años,Española,"Peones agrícolas en huertas, invernaderos, viv...",Agraria,['18/1821']

### Transformaciones realizadas

In [ ]:
# Se crea un diccionario que contiene los códigos de formación 
lista_listas =df['Códigos formación'].unique()
dicc_codigos ={}
for lista in lista_listas:
  lista2 = lista[1:-1].split(', ')
  for codigo in lista2:
    if codigo[1:-1] not in dicc_codigos.keys():
      dicc_codigos[codigo[1:-1]] = []

In [ ]:
dicc_codigos.keys()

dict_keys(['18/5724', '18/6141', '18/8074', '18/5456', '18/4737', '18/1830', '18/1821', '18/2160', '18/4620', '18/8033', '', '18/5045', '18/2255', '18/8114', '18/1900', '18/5086', '18/4588', '18/4776', '18/5877', '18/5545', '18/1897', '18/4618', '18/2292', '18/8109', '18/2242', '18/1828', '18/5037', '18/5254', '18/8053', '18/1837', '18/2254', '18/8071', '18/4576', '18/2251', '18/5228', '18/4585', '18/4589', '18/2262', '18/5227', '18/8092', '18/8095', '18/4994', '18/2161', '18/8060', '18/8048', '18/8146', '18/8129', '18/1625', '18/1831', '18/8108', '18/4732', '18/5087', '18/2264', '18/4622', '18/5455', '18/5175', '18/5725', '18/4509', '18/4621', '18/8056', '18/1832', '18/1829', '18/8035', '18/5044', '18/8061', '18/8154', '18/5939', '18/6173', '18/4641', '18/8153', '18/4730', '18/8135', '18/5976', '18/4592', '18/8123', '18/8039', '18/5876', '18/5547', '18/2250', '18/8085', '18/8125', '18/8082', '18/8040', '18/5105', '18/4844', '18/8049', '18/4777', '18/8130', '18/8136', '18/4714', '18/2252', '18/4595', '18/5092', '18/8083', '18/1597', '18/1573', '18/8141', '18/8084', '18/8067', '18/9009', '18/8036', '18/4642', '18/8139', '18/1634', '18/4734', '18/6171', '18/1898', '18/5212', '18/4656', '18/8148', '18/1896', '18/8062', '18/8080', '18/8050', '18/2247', '18/8093', '18/5093', '18/5050', '18/8086', '18/4510', '18/2253', '18/8066', '18/5543', '18/6211', '18/4511', '18/1616', '18/1567', '18/2245', '18/8124', '18/2293', '18/1580', '18/8087', '18/8032', '18/4570', '18/8147', '18/4783', '18/8112', '18/8138', '18/4775', '18/4995', '18/1524', '18/9067', '18/8065', '18/4512', '18/5049', '18/5994', '18/5970', '18/1899', '18/8030', '18/8031', '18/1834', '18/9008', '18/4619', '18/8081', '18/4715', '18/5230', '18/9071', '18/5091', '18/8025', '18/4843', '18/4711', '18/5057', '18/1636', '18/1593', '18/4661', '18/4795', '18/2294', '18/5229', '18/4582', '18/5995', '18/4842', '18/4968', '18/5038', '18/8037', '18/1819', '18/1629', '18/5255', '18/1591', '18/5470', '18/4854', '18/1895', '18/4736', '18/5454', '18/5147', '18/4591', '18/1592', '18/1566', '18/5104', '18/1614', '18/4710', '18/1622', '18/1623', '18/4798', '18/4796', '18/8006', '18/4780', '18/6169', '18/5211', '18/6209', '18/8137', '18/5453', '18/4586', '18/9144', '18/5546', '18/5544', '18/5548', '18/5094', '18/1621', '18/1594', '18/4731', '18/6172', '18/8024', '18/2246', '18/1613', '18/4738', '18/5085', '18/1820', '18/9096', '18/1729', '18/5056', '18/5971', '18/4782', '18/9098', '18/5940', '18/4733', '18/5542', '18/8029', '18/6170', '18/4846', '18/4790', '18/4781', '18/5089', '18/1558', '18/5328', '18/4657', '18/5090', '18/4825', '18/4855', '18/5468', '18/1697', '18/6254', '18/4967', '18/6210', '18/1630', '18/1768', '18/4824', '18/1568', '18/4845', '18/5467', '18/5457', '18/4864', '18/4938', '18/4792', '18/1572', '18/8034', '18/1526', '18/4848', '18/1598', '18/1615', '18/1506', '18/4587', '18/4898', '18/1822', '18/5875', '18/1601', '18/1599', '18/1543', '18/9066', '18/1740', '18/1694', '18/4739', '18/1767', '18/1699', '18/1739', '18/1517', '18/1539', '18/9065', '18/4980', '18/9099', '18/9100', '18/1562', '18/5452', '18/1719', '18/1574', '18/5088', '18/9064', '18/9062', '18/1600', '18/5465', '18/4791', '18/9063', '18/1544', '18/1738', '18/1711', '18/4590', '18/1635', '18/4594', '18/4593', '18/1639', '18/4660', '18/1590', '18/4723', '18/5012', '18/8075', '18/5217', '18/1531', '18/1708', '18/1644', '18/1652', '18/1501', '18/5466', '18/4794', '18/1620', '18/1707', '18/1743', '18/1678', '18/5062', '18/9097', '18/1559', '18/4822', '18/1581', '18/1484', '18/1538', '18/1493', '18/8079', '18/4847', '18/4897', '18/5327', '18/1490', '18/4849', '18/4793', '18/4778', '18/1679', '18/1518', '18/1521', '18/4850', '18/4643', '18/1540', '18/4797', '18/8142', '18/4823', '18/8166', '18/1525', '18/1561', '18/1530', '18/1715', '18/1725', '18/4713', '18/1651', '18/1741', '18/1643', '18/4716', '18/5471', '18/4788', '18/1537', '18/1606', '18/1554', '18/1512', '18/1640', '18/1553', '18/4726', '18/1746', '18/4647', '18/4932', '18/4947', '18/1555', '18/1735', '18/5013', '18/1648', '18/1656', '18/5469', '18/1655', '18/1695', '18/1737', '18/5146', '18/1500', '18/4724', '18/4712', '18/1605', '18/1718', '18/1717', '18/1728', '18/3148', '18/1742', '18/1706', '18/1508', '18/1556', '18/1712', '18/1647', '18/1485', '18/1720', '18/1503', '18/1496', '18/1723', '18/1724', '18/1505', '18/1499', '18/4725', '18/1747', '18/1736'])

In [ ]:
#Se crea una columna correspondiente a cada código y se añade un 1 o 0 dependiendo si el registro tiene ese código en su lista de códigos de la columna "Códigos formación"
for index, lista in df['Códigos formación'].items():
  for codigo in dicc_codigos:
    if codigo in lista:
      dicc_codigos[codigo].append(1)
    else:
      dicc_codigos[codigo].append(0)

In [ ]:
#Se añaden las nuevas columnas al dataframe
for codigo in dicc_codigos:
  serie = pd.Series(data = dicc_codigos[codigo], name = codigo)
  df = pd.concat([df, serie ],axis = 1)

Muestra del conjunto de datos resultante

In [ ]:
df.head()

,Fecha de Inscripción,Género,Distrito,Tramos de Edad,Nacionalidad,Objetivo Profesional 1,Familia profesional,Códigos formación,18/5724,18/6141,...,18/1720,18/1503,18/1496,18/1723,18/1724,18/1505,18/1499,18/4725,18/1747,18/1736
0,sep-21,Mujer,Ciudad Lineal,Entre 46 y 55 años,Extracomunitaria,Técnicos superiores en documentación sanitaria,Sanidad,"['18/5724', '18/6141']",1,1,...,0,0,0,0,0,0,0,0,0,0
1,feb-21,Mujer,Carabanchel,Menor de 25 años,Extracomunitaria,Asistentes de dirección y administrativos,Administración y gestión,['18/8074'],0,0,...,0,0,0,0,0,0,0,0,0,0
2,jul-21,Mujer,Puente De Vallecas,Entre 46 y 55 años,Española,"Peones agrícolas en huertas, invernaderos, viv...",Agraria,"['18/5456', '18/4737']",0,0,...,0,0,0,0,0,0,0,0,0,0
3,may-21,Mujer,Ciudad Lineal,Entre 36 y 45 años,Extracomunitaria,Vendedores en tiendas y almacenes,Comercio y marketing,['18/1830'],0,0,...,0,0,0,0,0,0,0,0,0,0
4,may-21,Hombre,Ciudad Lineal,Entre 26 y 35 años,Española,"Peones agrícolas en huertas, invernaderos, viv...",Agraria,['18/1821'],0,0,...,0,0,0,0,0,0,0,0,0,0

### Funcion similitud del coseno

In [ ]:
#Función auxiliar que calcula la similitud del coseno
def cosine_similarity(v1, v2):
  mod_v1 = math.sqrt(sum(np.square(v1)))
  mod_v2 = math.sqrt(sum(np.square(v2)))
  scalar = np.dot(v1,v2)
  return (scalar/(mod_v1 * mod_v2))

### Función recomendadora

In [ ]:
# Función auxiliar que elimina el primer caracter y el último de un string
def sin_extremos(string):
  return string[1:-1]

In [ ]:
#Función recomendadora
def recomender(user):
  fam_prof = user['Familia profesional']
  df_aux = df[df['Familia profesional']==fam_prof]
  v2 = user[cols]
  sim = []
  codigos_usuario = user['Códigos formación'][1:-1].split(', ')
  codigos_usuario = set(list(map(sin_extremos, codigos_usuario)))
  #calculamos la similitud del coseno de cada usuario con nuestro user y lo almacenamos en una lista
  for index, row in df_aux.iterrows():
    v1 = row[cols]
    sim.append((index,cosine_similarity(v1, v2))) #cuanto mas cercano a 1 mejor
  #ordenamos la lista en funcion del valor del coseno
  sim.sort(key=lambda x:x[1]) 
  # nos quedamos con los 3 usuarios más similares
  m_sim = sim[0:3] #lista de tuplas de indices y cosenos
  #vemos a qué dnis corresponden esos indices 
  indices = [x for (x,t) in m_sim]

  #vemos a qué códigos de cursos se corresponden
  codigos = []
  for indice in indices:
    codigos += df.loc[indice]['Códigos formación'][1:-1].split(', ')
  codigos = set(list(map(sin_extremos, codigos)))

  #Nos quedamos con los códigos de los cursos que el usuario no ha realizado
  codigos_recom = codigos - codigos_usuario
  #creamos un diccionario para almacenar las recomendaciones
  recomender = {'códigos_cursos': list(codigos_recom)}
  
  return recomender

### Lectura del dataset de cursos de formación profesional

In [ ]:
cursos_original = pd.read_csv('cursos_formacion_profesional_empleo_procesados2.csv')

In [ ]:
cursos = cursos_original.copy()

Muestra del dataset

In [ ]:
cursos.head()

,Unnamed: 0,curso_codigo,sector_desc,familia_desc,area_desc,especialidad_desc_1,curso_desc,especialidad_de_certificado,modalidad,dirigido_a,censo,centro_desc,centro_municipio
0,0,18/8000,Servicios,Informática y comunicaciones,Desarrollo,DESARROLLO DE APPS PARA IOS CON OBJETIVE C Y S...,DESARROLLO DE APPS PARA IOS CON OBJETIVE C Y S...,NO,Presencial,Desempleados,1564,CENTRO DE FORMACION MUNICIPAL MOSTOLES DESAR...,MOSTOLES
1,1,18/8001,Servicios,Informática y comunicaciones,Desarrollo,DESARROLLO DE VIDEOJUEGOS Y REALIDAD VIRTUAL C...,DESARROLLO DE VIDEOJUEGOS Y REALIDAD VIRTUAL C...,NO,Presencial,Desempleados,1564,CENTRO DE FORMACION MUNICIPAL MOSTOLES DESAR...,MOSTOLES
2,2,18/8002,Servicios,Informática y comunicaciones,Inform�tica,T�CNICO EN SOFTWARE OFIM�TICO,T�CNICO EN SOFTWARE OFIM�TICO,NO,Presencial,Desempleados,1564,CENTRO DE FORMACION MUNICIPAL MOSTOLES DESAR...,MOSTOLES
3,3,18/8003,Servicios,Informática y comunicaciones,Sistemas y telem�tica,HERRAMIENTAS WEB 2.0,HERRAMIENTAS WEB 2.0,NO,Presencial,Desempleados,1564,CENTRO DE FORMACION MUNICIPAL MOSTOLES DESAR...,MOSTOLES
4,4,18/8004,Servicios,Informática y comunicaciones,Sistemas y telem�tica,"COMMUNITY MANAGER, HERRAMIENTAS, ANAL�TICA E I...","COMMUNITY MANAGER, HERRAMIENTAS, ANAL�TICA E I...",NO,Presencial,Desempleados,1564,CENTRO DE FORMACION MUNICIPAL MOSTOLES DESAR...,MOSTOLES

### Ejemplos

#### Ejemplo 1

In [ ]:
#Se escoge el usuario y se muestra el registro completo
user = df.loc[0]
user[0:8]

Fecha de Inscripción                                              sep-21
Género                                                             Mujer
Distrito                                                   Ciudad Lineal
Tramos de Edad                                        Entre 46 y 55 años
Nacionalidad                                            Extracomunitaria
Objetivo Profesional 1    Técnicos superiores en documentación sanitaria
Familia profesional                                              Sanidad
Códigos formación                                 ['18/5724', '18/6141']
Name: 0, dtype: object

In [ ]:
#Sugerencias de la función recomendadora
recomendaciones = recomender(user)
recomendaciones

{'códigos_cursos': ['18/8095',
  '18/5254',
  '18/5877',
  '18/5037',
  '18/4994',
  '18/4776']}

In [ ]:
# Generación de dataset de cursos se corresponden a los códigos obtenidos
cursos_user1 = pd.DataFrame(columns = cursos.columns)
for codigo in recomendaciones['códigos_cursos']:
  cursos_user1 = pd.concat([cursos_user1, cursos[cursos['curso_codigo'] == codigo]])

In [ ]:
#Muestra del dataset de cursos obtenidos
cursos_user1.head()

,Unnamed: 0,curso_codigo,sector_desc,familia_desc,area_desc,especialidad_desc_1,curso_desc,especialidad_de_certificado,modalidad,dirigido_a,censo,centro_desc,centro_municipio
62,95,18/8095,Servicios,Sanidad,Atenci�n sanitaria,TRANSPORTE SANITARIO,TRANSPORTE SANITARIO,S�,Presencial,Desempleados,27328,"CENTRO DE FORMACION MUNICIPAL ""PIO XII""",PARLA
80,1442,18/5254,Servicios,Sanidad,Atenci�n sanitaria,TRANSPORTE SANITARIO,TRANSPORTE SANITARIO,S�,Presencial,Desempleados,27937,ESLA FORMACION SAN BLAS-CANILLEJAS,MADRID
85,2065,18/5877,Servicios,Sanidad,Atenci�n sanitaria,TRANSPORTE SANITARIO,TRANSPORTE SANITARIO,S�,Presencial,Desempleados,27614,CENTRO DE FORMACION PARA EL EMPLEO Y DE SERVIC...,MEJORADA DEL CAMPO
71,1225,18/5037,Servicios,Sanidad,Atenci�n sanitaria,TRANSPORTE SANITARIO,TRANSPORTE SANITARIO,S�,Presencial,Desempleados,27467,ENSE�ANZAS MODERNAS-C.C. LAGOMAR,VALDEMORO
69,1182,18/4994,Servicios,Sanidad,Atenci�n sanitaria,ATENCI�N SANITARIA A M�LTIPLES V�CTIMAS Y CAT�...,ATENCI�N SANITARIA A M�LTIPLES V�CTIMAS Y CAT�...,S�,Presencial,Desempleados,27907,CESUR MADRID II,MADRID

#### Ejemplo 2

In [ ]:
#Se escoge el usuario y se muestra el registro completo
user = df.loc[3]
user[0:8]

Fecha de Inscripción                                 may-21
Género                                                Mujer
Distrito                                      Ciudad Lineal
Tramos de Edad                           Entre 36 y 45 años
Nacionalidad                               Extracomunitaria
Objetivo Profesional 1    Vendedores en tiendas y almacenes
Familia profesional                    Comercio y marketing
Códigos formación                               ['18/1830']
Name: 3, dtype: object

In [ ]:
#Sugerencias de la función recomendadora
recomendaciones2 = recomender(user)
recomendaciones2

{'códigos_cursos': ['18/8053', '18/2254', '18/2292', '18/8109', '18/8071']}

In [ ]:
# Generación de dataset de cursos se corresponden a los códigos obtenidos
cursos_user2 = pd.DataFrame(columns = cursos.columns)
for codigo in recomendaciones2['códigos_cursos']:
  cursos_user2 = pd.concat([cursos_user2, cursos[cursos['curso_codigo'] == codigo]])

In [ ]:
#Muestra del dataset de cursos obtenidos
cursos_user2.head()

,Unnamed: 0,curso_codigo,sector_desc,familia_desc,area_desc,especialidad_desc_1,curso_desc,especialidad_de_certificado,modalidad,dirigido_a,censo,centro_desc,centro_municipio
242,53,18/8053,Servicios,Comercio y marketing,Log�stica comercial y gesti�n del transporte,ACTIVIDADES AUXILIARES DE ALMAC�N,ACTIVIDADES AUXILIARES DE ALMAC�N,S�,Presencial,Desempleados,28120,EPE Alcal� Desarrollo - Fundaci�n N� 1,ALCALA DE HENARES
263,545,18/2254,Servicios,Comercio y marketing,Venta,ACTIVIDADES DE VENTA,INFORMACI�N Y ATENCI�N AL CLIENTE/CONSUMIDOR Y...,S�,Presencial,Desempleados,28007,"C.F.P.E EN ADMINISTRACI�N, SEGUROS Y FINANZAS ...",MADRID
267,565,18/2292,Servicios,Comercio y marketing,Marketing y relaciones p�blicas,RESPONSABLE DE MARKETING DIGITAL,EXPERTO EN MARKETING DIGITAL,NO,Presencial,Desempleados,28007,"C.F.P.E EN ADMINISTRACI�N, SEGUROS Y FINANZAS ...",MADRID
249,109,18/8109,Servicios,Comercio y marketing,Log�stica comercial y gesti�n del transporte,ORGANIZACI�N Y GESTI�N DE ALMACENES,ORGANIZACI�N Y GESTI�N DE ALMACENES,S�,Presencial,Desempleados,27320,CENTRO MUNICIPAL DE PARTICIPACION CIUDADANA Y ...,SAN FERNANDO DE HENARES
247,71,18/8071,Servicios,Comercio y marketing,Log�stica comercial y gesti�n del transporte,TR�FICO DE MERCANC�AS POR CARRETERA,TR�FICO DE MERCANC�AS POR CARRETERA,S�,Presencial,Desempleados,26817,CENTRO INICIATIVAS MUNI.,COLLADO VILLALBA